***
# chapter 8. Analytic Function
***
### keyword
* ORDER BY
* PARTITION BY
* RANK, DENSE_RANK, ROW_NUMBER
* ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW , ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
* FIRST_VALUE, LAST_VALUE

In [1]:
import cx_Oracle
import pandas as pd
xedb = cx_Oracle.connect('hr/hr@localhost/xe')
cur = xedb.cursor()

#### 20번 부서 사원들의 급여 누적 합계

In [2]:
df = pd.read_sql("""
        SELECT e.employee_id, e.salary, e.department_id, SUM(t.salary) AS TOTAL
        FROM employees e, employees t
        WHERE e.employee_id >= t.employee_id
        AND t.department_id = 20
        AND e.department_id = 20
        GROUP BY e.employee_id, e.salary, e.department_id
        ORDER BY e.employee_id
        """,xedb)
print(df)

   EMPLOYEE_ID   SALARY  DEPARTMENT_ID  TOTAL
0          201  13000.0             20  13000
1          202   6000.0             20  19000

=> 문제점 : 너무 많은 스캔을 하고, 테이블 두 개를 access
## < ORDER BY >

In [3]:
df = pd.read_sql("""
        SELECT employee_id, salary, department_id, 
                SUM(salary) OVER (ORDER BY employee_id) AS TOTAL
        FROM employees
        WHERE department_id = 20 
        """,xedb)
print(df)

   EMPLOYEE_ID   SALARY  DEPARTMENT_ID  TOTAL
0          201  13000.0             20  13000
1          202   6000.0             20  19000

In [4]:
# ORDER BY 생략, 총합계산

df = pd.read_sql("""
        SELECT employee_id, salary, department_id, 
            SUM(salary) OVER () AS TOTAL
        FROM employees
        WHERE department_id = 20 
        """,xedb)
print(df)

   EMPLOYEE_ID   SALARY  DEPARTMENT_ID  TOTAL
0          201  13000.0             20  19000
1          202   6000.0             20  19000

## < PARTITION BY >
#### 부서별 급여의 누계, 총액

In [5]:
df = pd.read_sql("""
        SELECT employee_id, salary, department_id,
                sum(salary) OVER (PARTITION BY department_id) AS dept_total,
                sum(salary) OVER (PARTITION BY department_id ORDER BY employee_id) AS runnig_total
        FROM employees
        """,xedb)
print(df)

     EMPLOYEE_ID   SALARY  DEPARTMENT_ID  DEPT_TOTAL  RUNNIG_TOTAL
0            200   4400.0           10.0        4400          4400
1            201  13000.0           20.0       19000         13000
2            202   6000.0           20.0       19000         19000
3            114  11000.0           30.0       24900         11000
4            115   3100.0           30.0       24900         14100
5            116   2900.0           30.0       24900         17000
6            117   2800.0           30.0       24900         19800
7            118   2600.0           30.0       24900         22400
8            119   2500.0           30.0       24900         24900
9            203   6500.0           40.0        6500          6500
10           120   8000.0           50.0      156400          8000
11           121   8200.0           50.0      156400         16200
12           122   7900.0           50.0      156400         24100
13           123   6500.0           50.0      156400         30600
14           124   5800.0           50.0      156400         36400
15           125   3200.0           50.0      156400         39600
16           126   2700.0           50.0      156400         42300
17           127   2400.0           50.0      156400         44700
18           128   2200.0           50.0      156400         46900
19           129   3300.0           50.0      156400         50200
20           130   2800.0           50.0      156400         53000
21           131   2500.0           50.0      156400         55500
22           132   2100.0           50.0      156400         57600
23           133   3300.0           50.0      156400         60900
24           134   2900.0           50.0      156400         63800
25           135   2400.0           50.0      156400         66200
26           136   2200.0           50.0      156400         68400
27           137   3600.0           50.0      156400         72000
28           138   3200.0           50.0      156400         75200
29           139   2700.0           50.0      156400         77900
..           ...      ...            ...         ...           ...
77           161   7000.0           80.0      304500        163000
78           162  10500.0           80.0      304500        173500
79           163   9500.0           80.0      304500        183000
80           164   7200.0           80.0      304500        190200
81           165   6800.0           80.0      304500        197000
82           166   6400.0           80.0      304500        203400
83           167   6200.0           80.0      304500        209600
84           168  11500.0           80.0      304500        221100
85           169  10000.0           80.0      304500        231100
86           170   9600.0           80.0      304500        240700
87           171   7400.0           80.0      304500        248100
88           172   7300.0           80.0      304500        255400
89           173   6100.0           80.0      304500        261500
90           174  11000.0           80.0      304500        272500
91           175   8800.0           80.0      304500        281300
92           176   8600.0           80.0      304500        289900
93           177   8400.0           80.0      304500        298300
94           179   6200.0           80.0      304500        304500
95           100  24000.0           90.0       58000         24000
96           101  17000.0           90.0       58000         41000
97           102  17000.0           90.0       58000         58000
98           108  12008.0          100.0       51608         12008
99           109   9000.0          100.0       51608         21008
100          110   8200.0          100.0       51608         29208
101          111   7700.0          100.0       51608         36908
102          112   7800.0          100.0       51608         44708
103          113   6900.0          100.0       51608         51608
104          205  12008.0          110.0       20308         12008
105          206   8300.0          110.0       20308         20308
106          178   7000.0            NaN        7000          7000

[107 rows x 5 columns]

#### 사원 전체 평균값

In [6]:
df = pd.read_sql("""
        SELECT employee_id, salary, department_id, round(avg(salary) over(),0) avg_sal
        FROM employees
        """,xedb)
print(df)

     EMPLOYEE_ID   SALARY  DEPARTMENT_ID  AVG_SAL
0            100  24000.0           90.0     6462
1            101  17000.0           90.0     6462
2            102  17000.0           90.0     6462
3            103   9000.0           60.0     6462
4            104   6000.0           60.0     6462
5            105   4800.0           60.0     6462
6            106   4800.0           60.0     6462
7            107   4200.0           60.0     6462
8            108  12008.0          100.0     6462
9            109   9000.0          100.0     6462
10           110   8200.0          100.0     6462
11           111   7700.0          100.0     6462
12           112   7800.0          100.0     6462
13           113   6900.0          100.0     6462
14           114  11000.0           30.0     6462
15           115   3100.0           30.0     6462
16           116   2900.0           30.0     6462
17           117   2800.0           30.0     6462
18           118   2600.0           30.0     6462
19           119   2500.0           30.0     6462
20           120   8000.0           50.0     6462
21           121   8200.0           50.0     6462
22           122   7900.0           50.0     6462
23           123   6500.0           50.0     6462
24           124   5800.0           50.0     6462
25           125   3200.0           50.0     6462
26           126   2700.0           50.0     6462
27           127   2400.0           50.0     6462
28           128   2200.0           50.0     6462
29           129   3300.0           50.0     6462
..           ...      ...            ...      ...
77           177   8400.0           80.0     6462
78           178   7000.0            NaN     6462
79           179   6200.0           80.0     6462
80           180   3200.0           50.0     6462
81           181   3100.0           50.0     6462
82           182   2500.0           50.0     6462
83           183   2800.0           50.0     6462
84           184   4200.0           50.0     6462
85           185   4100.0           50.0     6462
86           186   3400.0           50.0     6462
87           187   3000.0           50.0     6462
88           188   3800.0           50.0     6462
89           189   3600.0           50.0     6462
90           190   2900.0           50.0     6462
91           191   2500.0           50.0     6462
92           192   4000.0           50.0     6462
93           193   3900.0           50.0     6462
94           194   3200.0           50.0     6462
95           195   2800.0           50.0     6462
96           196   3100.0           50.0     6462
97           197   3000.0           50.0     6462
98           198   2600.0           50.0     6462
99           199   2600.0           50.0     6462
100          200   4400.0           10.0     6462
101          201  13000.0           20.0     6462
102          202   6000.0           20.0     6462
103          203   6500.0           40.0     6462
104          204  10000.0           70.0     6462
105          205  12008.0          110.0     6462
106          206   8300.0          110.0     6462

[107 rows x 4 columns]

## < RANK, DENSE_RANK, ROW_NUMBER >
#### 사원들의 급여 순위

In [7]:
df = pd.read_sql("""
        SELECT employee_id, last_name, salary,
                RANK() OVER (ORDER BY salary DESC) rank,
                DENSE_RANK() OVER (ORDER BY salary DESC) DENSE_RANK,
                ROW_NUMBER () OVER (ORDER BY salary DESC) ROW_NUMBER
         FROM employees
        """,xedb)
print(df)

     EMPLOYEE_ID    LAST_NAME   SALARY  RANK  DENSE_RANK  ROW_NUMBER
0            100         King  24000.0     1           1           1
1            101      Kochhar  17000.0     2           2           2
2            102      De Haan  17000.0     2           2           3
3            145      Russell  14000.0     4           3           4
4            146     Partners  13500.0     5           4           5
5            201    Hartstein  13000.0     6           5           6
6            108    Greenberg  12008.0     7           6           7
7            205      Higgins  12008.0     7           6           8
8            147    Errazuriz  12000.0     9           7           9
9            168         Ozer  11500.0    10           8          10
10           114     Raphaely  11000.0    11           9          11
11           148    Cambrault  11000.0    11           9          12
12           174         Abel  11000.0    11           9          13
13           149      Zlotkey  10500.0    14          10          14
14           162      Vishney  10500.0    14          10          15
15           156         King  10000.0    16          11          16
16           150       Tucker  10000.0    16          11          17
17           204         Baer  10000.0    16          11          18
18           169        Bloom  10000.0    16          11          19
19           170          Fox   9600.0    20          12          20
20           163       Greene   9500.0    21          13          21
21           151    Bernstein   9500.0    21          13          22
22           157        Sully   9500.0    21          13          23
23           152         Hall   9000.0    24          14          24
24           103       Hunold   9000.0    24          14          25
25           158       McEwen   9000.0    24          14          26
26           109       Faviet   9000.0    24          14          27
27           175       Hutton   8800.0    28          15          28
28           176       Taylor   8600.0    29          16          29
29           177   Livingston   8400.0    30          17          30
..           ...          ...      ...   ...         ...         ...
77           115         Khoo   3100.0    78          49          78
78           196        Walsh   3100.0    78          49          79
79           181       Fleaur   3100.0    78          49          80
80           142       Davies   3100.0    78          49          81
81           197       Feeney   3000.0    82          50          82
82           187       Cabrio   3000.0    82          50          83
83           116        Baida   2900.0    84          51          84
84           190        Gates   2900.0    84          51          85
85           134       Rogers   2900.0    84          51          86
86           117       Tobias   2800.0    87          52          87
87           195        Jones   2800.0    87          52          88
88           183        Geoni   2800.0    87          52          89
89           130     Atkinson   2800.0    87          52          90
90           139          Seo   2700.0    91          53          91
91           126  Mikkilineni   2700.0    91          53          92
92           118       Himuro   2600.0    93          54          93
93           199        Grant   2600.0    93          54          94
94           198     OConnell   2600.0    93          54          95
95           143        Matos   2600.0    93          54          96
96           119   Colmenares   2500.0    97          55          97
97           131       Marlow   2500.0    97          55          98
98           191      Perkins   2500.0    97          55          99
99           144       Vargas   2500.0    97          55         100
100          182     Sullivan   2500.0    97          55         101
101          140        Patel   2500.0    97          55         102
102          135          Gee   2400.0   103          56         103
103          127       Landry   2400.0   103          56         104
104          136   Philtanker   2200.0   105          57         105
105          128       Markle   2200.0   105          57         106
106          132        Olson   2100.0   107          58         107

[107 rows x 6 columns]

#### 부서별, 부서내 급여순위

In [8]:
df = pd.read_sql("""
        SELECT department_id, salary,
                RANK() OVER (PARTITION BY department_id ORDER BY salary DESC) dept_rank,
                DENSE_RANK() OVER (PARTITION BY department_id ORDER BY salary DESC) dept_dense_rank
        FROM employees
        """,xedb)
print(df)

     DEPARTMENT_ID   SALARY  DEPT_RANK  DEPT_DENSE_RANK
0             10.0   4400.0          1                1
1             20.0  13000.0          1                1
2             20.0   6000.0          2                2
3             30.0  11000.0          1                1
4             30.0   3100.0          2                2
5             30.0   2900.0          3                3
6             30.0   2800.0          4                4
7             30.0   2600.0          5                5
8             30.0   2500.0          6                6
9             40.0   6500.0          1                1
10            50.0   8200.0          1                1
11            50.0   8000.0          2                2
12            50.0   7900.0          3                3
13            50.0   6500.0          4                4
14            50.0   5800.0          5                5
15            50.0   4200.0          6                6
16            50.0   4100.0          7                7
17            50.0   4000.0          8                8
18            50.0   3900.0          9                9
19            50.0   3800.0         10               10
20            50.0   3600.0         11               11
21            50.0   3600.0         11               11
22            50.0   3500.0         13               12
23            50.0   3400.0         14               13
24            50.0   3300.0         15               14
25            50.0   3300.0         15               14
26            50.0   3200.0         17               15
27            50.0   3200.0         17               15
28            50.0   3200.0         17               15
29            50.0   3200.0         17               15
..             ...      ...        ...              ...
77            80.0   9000.0         16               10
78            80.0   8800.0         18               11
79            80.0   8600.0         19               12
80            80.0   8400.0         20               13
81            80.0   8000.0         21               14
82            80.0   8000.0         21               14
83            80.0   7500.0         23               15
84            80.0   7500.0         23               15
85            80.0   7400.0         25               16
86            80.0   7300.0         26               17
87            80.0   7200.0         27               18
88            80.0   7000.0         28               19
89            80.0   7000.0         28               19
90            80.0   6800.0         30               20
91            80.0   6400.0         31               21
92            80.0   6200.0         32               22
93            80.0   6200.0         32               22
94            80.0   6100.0         34               23
95            90.0  24000.0          1                1
96            90.0  17000.0          2                2
97            90.0  17000.0          2                2
98           100.0  12008.0          1                1
99           100.0   9000.0          2                2
100          100.0   8200.0          3                3
101          100.0   7800.0          4                4
102          100.0   7700.0          5                5
103          100.0   6900.0          6                6
104          110.0  12008.0          1                1
105          110.0   8300.0          2                2
106            NaN   7000.0          1                1

[107 rows x 4 columns]

## < ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW 
정렬결과의 처음부터 현재 행 까지를 대상
## ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING >
정렬결과의 처음과 끝 을 대상

In [9]:
df = pd.read_sql("""
        SELECT employee_id, salary,
                sum(salary) OVER (ORDER BY employee_id ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW ) running1,
                sum(salary) OVER (ORDER BY employee_id ) running2,
                sum(salary) OVER (ORDER BY employee_id ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) total1,
                sum(salary) OVER () total2  
        FROM employees
        """,xedb)
print(df)

     EMPLOYEE_ID   SALARY  RUNNING1  RUNNING2  TOTAL1  TOTAL2
0            100  24000.0     24000     24000  691416  691416
1            101  17000.0     41000     41000  691416  691416
2            102  17000.0     58000     58000  691416  691416
3            103   9000.0     67000     67000  691416  691416
4            104   6000.0     73000     73000  691416  691416
5            105   4800.0     77800     77800  691416  691416
6            106   4800.0     82600     82600  691416  691416
7            107   4200.0     86800     86800  691416  691416
8            108  12008.0     98808     98808  691416  691416
9            109   9000.0    107808    107808  691416  691416
10           110   8200.0    116008    116008  691416  691416
11           111   7700.0    123708    123708  691416  691416
12           112   7800.0    131508    131508  691416  691416
13           113   6900.0    138408    138408  691416  691416
14           114  11000.0    149408    149408  691416  691416
15           115   3100.0    152508    152508  691416  691416
16           116   2900.0    155408    155408  691416  691416
17           117   2800.0    158208    158208  691416  691416
18           118   2600.0    160808    160808  691416  691416
19           119   2500.0    163308    163308  691416  691416
20           120   8000.0    171308    171308  691416  691416
21           121   8200.0    179508    179508  691416  691416
22           122   7900.0    187408    187408  691416  691416
23           123   6500.0    193908    193908  691416  691416
24           124   5800.0    199708    199708  691416  691416
25           125   3200.0    202908    202908  691416  691416
26           126   2700.0    205608    205608  691416  691416
27           127   2400.0    208008    208008  691416  691416
28           128   2200.0    210208    210208  691416  691416
29           129   3300.0    213508    213508  691416  691416
..           ...      ...       ...       ...     ...     ...
77           177   8400.0    553708    553708  691416  691416
78           178   7000.0    560708    560708  691416  691416
79           179   6200.0    566908    566908  691416  691416
80           180   3200.0    570108    570108  691416  691416
81           181   3100.0    573208    573208  691416  691416
82           182   2500.0    575708    575708  691416  691416
83           183   2800.0    578508    578508  691416  691416
84           184   4200.0    582708    582708  691416  691416
85           185   4100.0    586808    586808  691416  691416
86           186   3400.0    590208    590208  691416  691416
87           187   3000.0    593208    593208  691416  691416
88           188   3800.0    597008    597008  691416  691416
89           189   3600.0    600608    600608  691416  691416
90           190   2900.0    603508    603508  691416  691416
91           191   2500.0    606008    606008  691416  691416
92           192   4000.0    610008    610008  691416  691416
93           193   3900.0    613908    613908  691416  691416
94           194   3200.0    617108    617108  691416  691416
95           195   2800.0    619908    619908  691416  691416
96           196   3100.0    623008    623008  691416  691416
97           197   3000.0    626008    626008  691416  691416
98           198   2600.0    628608    628608  691416  691416
99           199   2600.0    631208    631208  691416  691416
100          200   4400.0    635608    635608  691416  691416
101          201  13000.0    648608    648608  691416  691416
102          202   6000.0    654608    654608  691416  691416
103          203   6500.0    661108    661108  691416  691416
104          204  10000.0    671108    671108  691416  691416
105          205  12008.0    683116    683116  691416  691416
106          206   8300.0    691416    691416  691416  691416

[107 rows x 6 columns]

## < FIRST_VALUE, LAST_VALUE >
#### 부서별 최소급여, 최대급여

In [10]:
df = pd.read_sql("""
        SELECT department_id,salary,
                first_value(salary) OVER (PARTITION BY department_id ORDER BY salary ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) first_value,
                last_value(salary) OVER (PARTITION BY department_id ORDER BY salary ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) last_value
        FROM employees
        """,xedb)
print(df)

     DEPARTMENT_ID   SALARY  FIRST_VALUE  LAST_VALUE
0             10.0   4400.0         4400        4400
1             20.0   6000.0         6000       13000
2             20.0  13000.0         6000       13000
3             30.0   2500.0         2500       11000
4             30.0   2600.0         2500       11000
5             30.0   2800.0         2500       11000
6             30.0   2900.0         2500       11000
7             30.0   3100.0         2500       11000
8             30.0  11000.0         2500       11000
9             40.0   6500.0         6500        6500
10            50.0   2100.0         2100        8200
11            50.0   2200.0         2100        8200
12            50.0   2200.0         2100        8200
13            50.0   2400.0         2100        8200
14            50.0   2400.0         2100        8200
15            50.0   2500.0         2100        8200
16            50.0   2500.0         2100        8200
17            50.0   2500.0         2100        8200
18            50.0   2500.0         2100        8200
19            50.0   2500.0         2100        8200
20            50.0   2600.0         2100        8200
21            50.0   2600.0         2100        8200
22            50.0   2600.0         2100        8200
23            50.0   2700.0         2100        8200
24            50.0   2700.0         2100        8200
25            50.0   2800.0         2100        8200
26            50.0   2800.0         2100        8200
27            50.0   2800.0         2100        8200
28            50.0   2900.0         2100        8200
29            50.0   2900.0         2100        8200
..             ...      ...          ...         ...
77            80.0   8800.0         6100       14000
78            80.0   9000.0         6100       14000
79            80.0   9000.0         6100       14000
80            80.0   9500.0         6100       14000
81            80.0   9500.0         6100       14000
82            80.0   9500.0         6100       14000
83            80.0   9600.0         6100       14000
84            80.0  10000.0         6100       14000
85            80.0  10000.0         6100       14000
86            80.0  10000.0         6100       14000
87            80.0  10500.0         6100       14000
88            80.0  10500.0         6100       14000
89            80.0  11000.0         6100       14000
90            80.0  11000.0         6100       14000
91            80.0  11500.0         6100       14000
92            80.0  12000.0         6100       14000
93            80.0  13500.0         6100       14000
94            80.0  14000.0         6100       14000
95            90.0  17000.0        17000       24000
96            90.0  17000.0        17000       24000
97            90.0  24000.0        17000       24000
98           100.0   6900.0         6900       12008
99           100.0   7700.0         6900       12008
100          100.0   7800.0         6900       12008
101          100.0   8200.0         6900       12008
102          100.0   9000.0         6900       12008
103          100.0  12008.0         6900       12008
104          110.0   8300.0         8300       12008
105          110.0  12008.0         8300       12008
106            NaN   7000.0         7000        7000

[107 rows x 4 columns]

# [ 연습문제 ]
### (1) 자신의 부서 평균 급여보다 급여를 많이 받은 사원들의 employee_id, salary, department_name를 조회하세요
####  < SUBQUERY >

In [11]:
df = pd.read_sql("""
        SELECT e.employee_id, e.salary, d.department_name
        FROM employees e, departments d
        WHERE e.department_id = d.department_id
        AND e.salary > (SELECT avg(salary)
                        FROM employees 
                        WHERE department_id = d.department_id)
        """,xedb)
print(df)

    EMPLOYEE_ID   SALARY DEPARTMENT_NAME
0           201  13000.0       Marketing
1           114  11000.0      Purchasing
2           120   8000.0        Shipping
3           121   8200.0        Shipping
4           122   7900.0        Shipping
5           123   6500.0        Shipping
6           124   5800.0        Shipping
7           137   3600.0        Shipping
8           141   3500.0        Shipping
9           184   4200.0        Shipping
10          185   4100.0        Shipping
11          188   3800.0        Shipping
12          189   3600.0        Shipping
13          192   4000.0        Shipping
14          193   3900.0        Shipping
15          103   9000.0              IT
16          104   6000.0              IT
17          145  14000.0           Sales
18          146  13500.0           Sales
19          147  12000.0           Sales
20          148  11000.0           Sales
21          149  10500.0           Sales
22          150  10000.0           Sales
23          151   9500.0           Sales
24          152   9000.0           Sales
25          156  10000.0           Sales
26          157   9500.0           Sales
27          158   9000.0           Sales
28          162  10500.0           Sales
29          163   9500.0           Sales
30          168  11500.0           Sales
31          169  10000.0           Sales
32          170   9600.0           Sales
33          174  11000.0           Sales
34          100  24000.0       Executive
35          108  12008.0         Finance
36          109   9000.0         Finance
37          205  12008.0      Accounting

#### < INLINE VIEW >

In [12]:
df = pd.read_sql("""
        SELECT e.employee_id, e.salary, d.department_name
        FROM (SELECT department_id, avg(salary) avg_sal
              FROM employees
              GROUP BY department_id) a, employees e, departments d
        WHERE e.department_id = d.department_id
        AND a.department_id = e.department_id
        AND e.salary > A.avg_sal
        """,xedb)
print(df)

    EMPLOYEE_ID   SALARY DEPARTMENT_NAME
0           109   9000.0         Finance
1           108  12008.0         Finance
2           114  11000.0      Purchasing
3           100  24000.0       Executive
4           201  13000.0       Marketing
5           205  12008.0      Accounting
6           193   3900.0        Shipping
7           192   4000.0        Shipping
8           189   3600.0        Shipping
9           188   3800.0        Shipping
10          185   4100.0        Shipping
11          184   4200.0        Shipping
12          141   3500.0        Shipping
13          137   3600.0        Shipping
14          124   5800.0        Shipping
15          123   6500.0        Shipping
16          122   7900.0        Shipping
17          121   8200.0        Shipping
18          120   8000.0        Shipping
19          174  11000.0           Sales
20          170   9600.0           Sales
21          169  10000.0           Sales
22          168  11500.0           Sales
23          163   9500.0           Sales
24          162  10500.0           Sales
25          158   9000.0           Sales
26          157   9500.0           Sales
27          156  10000.0           Sales
28          152   9000.0           Sales
29          151   9500.0           Sales
30          150  10000.0           Sales
31          149  10500.0           Sales
32          148  11000.0           Sales
33          147  12000.0           Sales
34          146  13500.0           Sales
35          145  14000.0           Sales
36          104   6000.0              IT
37          103   9000.0              IT

#### < 분석함수 사용 >

In [13]:
df = pd.read_sql("""
        SELECT employee_id, salary, department_name
        FROM (SELECT e.employee_id, e.salary, d.department_name,
              CASE WHEN e.salary > avg(salary) OVER (PARTITION BY e.department_id) THEN '1' END col_1
              FROM employees e, departments d
              WHERE e.department_id = d.department_id)
        WHERE col_1 = 1
        """,xedb)
print(df)

# WHERE col_1 IS NOT NULL
# IF TRUE, 1 /IF FALSE, null

    EMPLOYEE_ID   SALARY DEPARTMENT_NAME
0           201  13000.0       Marketing
1           114  11000.0      Purchasing
2           120   8000.0        Shipping
3           121   8200.0        Shipping
4           122   7900.0        Shipping
5           123   6500.0        Shipping
6           124   5800.0        Shipping
7           137   3600.0        Shipping
8           141   3500.0        Shipping
9           184   4200.0        Shipping
10          185   4100.0        Shipping
11          188   3800.0        Shipping
12          189   3600.0        Shipping
13          192   4000.0        Shipping
14          193   3900.0        Shipping
15          103   9000.0              IT
16          104   6000.0              IT
17          145  14000.0           Sales
18          146  13500.0           Sales
19          147  12000.0           Sales
20          148  11000.0           Sales
21          149  10500.0           Sales
22          150  10000.0           Sales
23          151   9500.0           Sales
24          152   9000.0           Sales
25          156  10000.0           Sales
26          157   9500.0           Sales
27          158   9000.0           Sales
28          162  10500.0           Sales
29          163   9500.0           Sales
30          168  11500.0           Sales
31          169  10000.0           Sales
32          170   9600.0           Sales
33          174  11000.0           Sales
34          100  24000.0       Executive
35          108  12008.0         Finance
36          109   9000.0         Finance
37          205  12008.0      Accounting

=> 서브쿼리로 수행해도 분석함수로 작성했던 실행계획으로 트랜스포밍된다.

### (2) 사원들의 급여순위에서 2등까지 조회하세요
#### < ROW_NUMBER >
급여 중에 중복이 없을 때만 사용할 수 있다. 중복이 있을 경우 누락된다.

In [14]:
df = pd.read_sql("""
        SELECT rownum, last_name, salary
        FROM (SELECT last_name, salary 
              FROM employees ORDER BY salary DESC)
        WHERE ROWNUM <= 2
        """,xedb)
print(df)

   ROWNUM LAST_NAME   SALARY
0       1      King  24000.0
1       2   Kochhar  17000.0

#### < DENSE_RANK >

In [15]:
df = pd.read_sql("""
        SELECT  rank, last_name, salary
        FROM (SELECT DENSE_RANK() OVER(ORDER BY salary DESC) as rank, last_name, salary
              FROM employees)
        WHERE rank <= 2
        """,xedb)
print(df)

   RANK LAST_NAME   SALARY
0     1      King  24000.0
1     2   Kochhar  17000.0
2     2   De Haan  17000.0

In [16]:
cur.close()
xedb.close()